body {
	margin: 0;
	padding: 0;

	background: linear-gradient( to right, #111, #117 );
	color: lime;
}

cmp-app {
	all: initial;
	
	font-family: Courier;
	color: lime;
}




cmp-middle {
	all: initial;
	display: flex;
}






table {
	border-collapse: collapse;	/* рамка одинарная общая на две ячейки */
}
	table td {
		/*padding: 0 20px;*/
		border: 1px solid #333;
		text-align: center;
	}








.hide {
	display: none;
}





