cmp-win-users {
	all: unset;
	display: block;

	font-family: Courier;
	color: lime;


	/*display: flex;*/
}
	cmp-win-users .clc {
		cursor: pointer;
	}
		cmp-win-users .clc:hover {
			color: yellow;
		}


	cmp-win-users .each {
		width: 30%;
		max-width: 120px;
		height: 155px;

		position: relative;


		margin: 1px 1px;


		/*min-width: 100px;
		/*height: 100px;*/
		display: inline-block ;
		border-radius: 10px;

	}
		cmp-win-users .each.fon-man {
			background: linear-gradient( to top, #111, #115 );
		}
		cmp-win-users .each.fon-woman {
			background: linear-gradient( to top, #111, #511 );
		}






	cmp-win-users .each .ava {
		width: 100%;		
		height: 120px;		
	}

	
	cmp-win-users .each .title {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		/*height: 20px;*/
		text-align: center;
		font-size: 12px;
		color: #fff;
	}


	cmp-win-users .each img {

		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 10px;

		/*width: 100%;*/
		/*height: 100%;*/
	}










