cmp-each-user {
	all: unset;
	display: block;

	position: relative;
	font-family: Courier;
	color: lime;
}
	cmp-each-user .clc {
		cursor: pointer;
	}
		cmp-each-user .clc:hover {
			color: yellow;
		}



cmp-each-user .close {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 35px;
	color: #f00;
	cursor: pointer;
}
	cmp-each-user .close:hover {
		color: #ff0;
	}


cmp-each-user .main {

	
	display: flex;
	flex-wrap: wrap;
	/*
	flex-wrap: wrap;
	flex-wrap: wrap-reverse;

*/
	/*
	flex-direction: row;

	justify-content: flex-start;
	align-items: center;

*/






}


	cmp-each-user .ava {
		/*display: inline-block;*/
		/*max-height: 500px;*/
		position: relative;
		

/*
		width: 512px;
		height: 512px;
*/

/*
		max-width: 512px;
		max-height: 512px;
*/

		border-radius: 20px;

	}

	/*
		cmp-each-user .ava.m {
			background: linear-gradient( to bottom, #001, #005 );
		}
		cmp-each-user .ava.w {
			background: linear-gradient( to bottom, #100, #500 );
		}
*/












		cmp-each-user .ava img {
			/*height: 100%;*/
			width: 100%;
			border-radius: 20px;
		}
		cmp-each-user .ava .ribbon {
			position: absolute;
			top: 0px;
			left: 0px;
		}

			cmp-each-user .ava .ribbon img {
				height: 100%;
				width: 100%;
			}









	cmp-each-user .main .info {
		/*display: inline-block;*/
		/*height: 500px;*/
		/*width: 100%;*/
		margin: 0;

		/*background: linear-gradient( to bottom, #111, #115 );*/
	}
		cmp-each-user .info .name {
			font-size: 50px;
			font-weight: bold;
			font-style: oblique;
		}
		cmp-each-user .info .date {
			text-align: center;
		}
		cmp-each-user .info .hash {
			font-style: oblique;
			color: aqua;
		}

		/*
			cmp-each-user .info .hash .each {
				cursor: pointer;
			}
				cmp-each-user .info .hash .each:hover {
					color: yellow;
				}
*/






cmp-each-user .imgOther {
	
}
	cmp-each-user .imgOther .each {
		height: 100px;
		width: 100px;
	}
		cmp-each-user .imgOther .each img {
			height: 100%;
			width: 100%;
		}


/*
cmp-each-user a {
	text-decoration: none;
	color: aqua;
}
	cmp-each-user a:hover {
		color: pink;
	}

*/



cmp-each-user .president {
	display: inline-block;
	margin: 5px;
	padding: 5px 20px;
	border: 1px solid #777;
	border-radius: 10px;
	font-weight: bold;
	background: linear-gradient( to bottom, #115, #226 );
	color: #fff;
}
	cmp-each-user .president .each {
		display: block;
		margin: 5px 0;
	}


	cmp-each-user .president .date {
		margin: 5px 0 0 0;
		text-align: left;
		font-style: oblique;
		font-size: 85%;
		color: #ccc;
	}






cmp-each-user .hashCountry {

}


cmp-each-user .hashTag {
	padding: 0px 10px;
	border: 1px solid #777;
	border-radius: 5px;
	/*font-size: 110%;*/
	font-style: oblique;
	color: #0ff;	
	cursor: pointer;
}
	cmp-each-user .hashTag:hover {
		background-color: #000;
		color: #ff0;
	}






