cmp-err404 {
	all: unset;
	display: block;

	font-family: Courier;
	color: lime;
}





cmp-err404 {
	padding: 0 30px;
	border-radius: 5px;

	font-size: 200%;
	font-weight: bold;


	background-color: #f00;
	color: #fff;
}










